{% extends "base.html" %}
{% load static %}

{% block demo %}
<!-- Reset Form -->
<a href="{% url 'download:demo' %}" role="button" class="btn btn-primary btn-lg btn-block" style="border-radius: 0px;"><b>RESET</b></a>

<!-- Download Form -->
<div class="container text-center" style="padding-top: 20px;">
	<form action="{% url 'download:demo' %}" method="post" style="display: inline;" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="file" name="myFile">
        <input type="submit" name="submit">
	</form>
</div>

<!-- Download Status -->
<div class="container" style="padding-top: 20px;">

</div>
{% endblock %}
